table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 15px;
}

.remove-book-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

td+td,
th+th {
    border-left: 1px solid black;
}

th,
td {
    padding: 8px 24px;
    border-bottom: 1px solid black;
    max-width: 300px;
}

th {
    position: relative;
}

td {
    font-size: small;
    text-align: center;
}